# Dependencies
contrapunto-web/node_modules/
contrapunto-web/.pnp
contrapunto-web/.pnp.js

# Next.js build and cache
contrapunto-web/.next/
contrapunto-web/out/
contrapunto-web/build/

# IDE / OS / Debug
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Local env files
contrapunto-web/.env*.local

# Vercel
contrapunto-web/.vercel

# Python virtual environment & compiler cache
**/venv/
**/.venv/
**/__pycache__/
**/*.pyc

# Large zip archives
**/*.zip
